<app-navbar></app-navbar>
<div class="container">
  
  <div class="main-container">

  <div class="introduction">
    
    <div class="profile">
      
        <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSA0XjYZ6OaU0_n_qL7n6sLIH90SbLP01wTl2VcPNU2Yp1DMlB1&usqp=CAU" alt="">
    
      <p class="intro-text mat-typography">
        Hello This is Snehal, Welcome to my blog. I am graduated and successfully completed my Computer Engigeering in
        2018. I have experience as a web designer for few months. 
      </p>
    </div>
  </div>

      
    <div class="social-media">
      
      <ul>
        <li class="list-style"><h5 class="follow-label">Follow me on</h5></li>
        <div class="media-icon">
        <li class="list-style">
          <a href="#">
            <i class="fa fa-instagram instagram fa-2x" aria-hidden="true"></i>
          </a>
         </li>
        <li class="list-style">
          <a href="#">
            <i class="fa fa-facebook-square facebook fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-style">
          <a href="#">
            <i class="fa fa-twitter-square fa-2x twitter" color="primary" aria-hidden="true"></i>
          </a>
        </li>
      </div>
      </ul>
    </div>


  </div>
  <div class="design-image">
    
      <img class="example-img" src="https://image.flaticon.com/icons/svg/265/265666.svg" alt="">
    
    <p class="intro-text">
      I'm passionate about designing web and mobile applications. Keep learning and exploring new things. I will share my experience with you as a trainee Designer. If there is good guidance, it is easy to achieve the desired goal. So I would like to share my suggestions and want to learn from other experiences too. Let's support each other.
    </p>
  </div>
  </div>